body {
    font-family: Arial, sans-serif;
    background-color: #dbcbcb;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    max-width: 1000px;
    padding: 100px;
    background-color: #f7f4f6;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(247, 6, 6, 0.1);
}

h1 {
    text-align: center;
    color: #333;
}

.menu {
    text-align: center;
    margin-bottom: 10px;
}

button {
    background-color: #007bff;
    color: #fff;
    border: #000;
    padding: 10px 50px;
    margin: 10px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #6da6e0;
}

form {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: 0 auto;
}

input[type="text"], input[type="date"], input[type="time"] {
    margin-bottom: 10px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

input[type="submit"] {
    background-color: #28a745;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
    background-color: #218838;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    background-color: #f9f9f9;
    padding: 10px;
    margin-bottom: 5px;
    border-radius: 5px;
}

li:hover {
    background-color: #eee;
}

